* {
    margin: 0;
    padding: 0;
}


/*------------------layout --------------------------*/

.el-container {
    height: 100%;
    font-family: Microsoft YaHei;
}

.el-header {
    background: #0176df;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    color: #fff;
}

.el-header>div {
    display: flex;
    align-items: center;
}

.img-header {
    color: #fff;
    font-size: 12px;
}

.el-button.is-circle {
    padding: 1px;
}

.img_header {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.el-aside {
    overflow: hidden;
}

.el-main {
    background: #eaedf1;
    width: 60%;
}

.el-select-tree__item,
.el-form-item__label {
    font-size: 12px;
}