<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianda.shserc.mapper.BulletinMapper">

    <select id="selectBulletins" resultType="com.dianda.shserc.entity.Bulletin">
        select
        bulletin.id,
        bulletin.title,
        bulletin.content,
        bulletin.type_id,
        bulletin.top,
        u.user_name,
        bulletin.add_user,
        bulletin.add_time
        from
        bulletin bulletin left join res_user u on bulletin.add_user=u.id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>
