<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianda.shserc.mapper.CroResourceMapper">
    <select id="selectCroResources" resultType="com.dianda.shserc.entity.CroResource">
        select r.id,
        r.title,
        r.description,
        r.cover_path,
        r.state_id,
        r.stage_id,
        r.grade_id,
        r.domain_id,
        r.subject_id,
        r.school_type_id,
        r.import_source_id,
        r.deformity_id,
        r.author,
        r.author_company,
        r.author_address,
        r.author_email,
        r.author_phone,
        r.description,
        r.title,
        r.is_link,
        r.file_size,
        r.file_ext_name,
        r.keywords,
        r.view_count,
        r.download_count,
        r.favorite_count,
        r.comment_count,
        r.star_count,
        r.auditor,
        r.auditor_time,
        r.auditor_opinion,
        r.create_type_id,
        r. source_url,
        r.add_time
        from cro_resource r
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <insert id="addView" parameterType="com.dianda.shserc.entity.ResourceOperation">
		 insert into cro_view (resource_id, user_id, add_time) values(#{resourceId} ,#{userId},#{addTime})
	</insert>

    <insert id="addDownload" parameterType="com.dianda.shserc.entity.ResourceOperation">
		 insert into cro_download (resource_id, user_id,add_time) values(#{resourceId} ,#{userId},#{addTime})
	</insert>

    <insert id="addFavorite" parameterType="com.dianda.shserc.entity.ResourceOperation">
		 insert into cro_favorite (resource_id, user_id, add_time) values(#{resourceId} ,#{userId},#{addTime})
	</insert>

    <delete id="deleteFavorite" parameterType="com.dianda.shserc.entity.ResourceOperation">
        delete from cro_favorite where  resource_id = #{resourceId} and  user_id=#{userId}
    </delete>

    <select id="selectFavorites" resultType="com.dianda.shserc.entity.ResourceOperation">
        select
        f.resource_id,
        f.user_id,
        r.title,
        r.author,
        r.file_ext_name
        from cro_favorite f
        join cro_resource r on r.id=f.resource_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="selectDownloads" resultType="com.dianda.shserc.entity.ResourceOperation"
            parameterType="com.dianda.shserc.entity.ResourceOperation">
        select
        d.resource_id,
        d.user_id,
        r.title,
        r.author,
        r.file_ext_name
        from cro_download d
        join cro_resource r on r.id=d.resource_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <insert id="addStar" parameterType="com.dianda.shserc.entity.ResourceOperation">
         insert into cro_star (resource_id,user_id, score, add_time) values(#{resourceId},#{userId},#{operIntResult},#{addTime})
    </insert>


    <select id="selectStars" resultType="com.dianda.shserc.entity.ResourceOperation">
        select
        resource_id,
        user_id,
        score as oper_int_result
        from cro_star
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

</mapper>