<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianda.shserc.mapper.ResCommentMapper">

    <select id="selectResComments"  resultType="com.dianda.shserc.entity.ResComment">
        select rc.id as id,
        rc.user_id,
        rc.resource_id,
        rc.content,
        rc.add_time,
        rc.state_id,
        u.user_name as add_user_name,
        u.photo_path as user_photo_path,
        r.title as resource_title
        from res_comment rc
        join res_user u on rc.user_id=u.id
        join resource r on rc.resource_id=r.id

        <where>
            ${ew.sqlSegment}
        </where>
        and rc.is_deleted=0
    </select>


</mapper>