<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianda.shserc.mapper.ResourceMapper">
    <select id="selectResources" resultType="com.dianda.shserc.entity.Resource">
        select r.id,
        r.title,
        r.description,
        r.state_id,
        r.author,
        r.author_address,
        r.author_email,
        r.author_phone,
        r.deformity_id,
        r.description,
        r.title,
        r.file_size,
        r.keywords,
        r.view_count
        from resource r
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <insert id="addViewCount" parameterType="com.dianda.shserc.entity.ResourceOperation">
		 insert into res_view (resource_id, user_id, add_date) values(#{resourceId} ,#{userId},#{addTime})
	</insert>

</mapper>