<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dianda.shserc.mapper.ResUserMapper">

    <select id="selectUsers" resultType="com.dianda.shserc.entity.ResUser">
        select u.id as id,
        u.user_name,
        u.real_name,
        u.email,
        u.register_time,
        u.last_login_time,
        u.login_count,
        c.company_name,
        r.role_name
        from res_user
        u left join res_company c on u.company_id=c.id
         left join res_user_role ur  on u.id=ur.user_id
         left join res_role r  on r.id=ur.role_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <select id="selectUserRole" resultType="com.dianda.shserc.entity.ResUserRole">
        select
        user_id,
        role_id,
        r.role_name as roleName
        from res_user_role ur join res_role r on r.id=ur.role_id
        <where>
            ${ew.sqlSegment}
        </where>
    </select>

    <insert id="'addUserRole" parameterType="com.dianda.shserc.entity.ResUserRole">
         insert  into  res_user_role (user_id,role_id) values(#{userId},#{roleId})
    </insert>

    <delete id="deleteUserRole" parameterType="com.dianda.shserc.entity.ResUserRole">
        delete from res_user_role where role_id= #{userId} and user_id= #{roleId}
    </delete>

</mapper>