server:
  port: 2526

#mybatis-plus:
#   configuration:
#    map-underscore-to-camel-case: false

mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl

spring:
  datasource:
    dynamic:
      primary: shserc
      datasource:
        shserc:
          #driver-class-name: com.mysql.jdbc.Driver
          #url: jdbc:mysql://192.168.1.13:30070/shserc?useUnicode=true&useSSL=false&characterEncoding=utf8&serverTimezone=GMT
          #username: root
          #password: password
          driver-class-name: dm.jdbc.driver.DmDriver
          url: jdbc:dm://61.129.1.179:5236/SHSERC?zeroDateTimeBehavior=convertToNull&useUnicode=true&characterEncoding=utf-8
          username: SYSDBA
          password: 'dameng123'
          filters: stat
          maxActive: 300
          initialSize: 1
          maxWait: 60000
          minIdle: 1
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 300000
          validationQuery: select 1 FROM DUAL
          testWhileIdle: true
          testOnBorrow: false
          testOnReturn: false
          poolPreparedStatements: true
          maxOpenPreparedStatements: 20
        shsedu:
          driver-class-name: dm.jdbc.driver.DmDriver
          #url: jdbc:mysql://192.168.1.13:30070/shsedu?useUnicode=true&useSSL=false&characterEncoding=utf8&serverTimezone=GMT
          url: jdbc:dm://61.129.1.179:5236/SHSEDU?zeroDateTimeBehavior=convertToNull&useUnicode=true&characterEncoding=utf-8
          username: SYSDBA
          password: 'dameng123'
          filters: stat
          maxActive: 300
          initialSize: 1
          maxWait: 60000
          minIdle: 1
          timeBetweenEvictionRunsMillis: 60000
          minEvictableIdleTimeMillis: 300000
          validationQuery: select 1 FROM DUAL
          testWhileIdle: true
          testOnBorrow: false
          testOnReturn: false
          poolPreparedStatements: true
          maxOpenPreparedStatements: 20


  #http configuration
  http:
    encoding:
      charset: UTF-8
      enabled: true
      force: true

  #upload file size
  servlet:
    multipart:
      max-file-size: 1500MB
      max-request-size: 130MB

  #redis configuration
  redis:
    database: 0
    host: 192.168.1.13
    port: 30379
    jedis:
      pool:
        # the max count for redis pool connection
        max-active: 8
        max-wait: -1ms
    timeout: 2000000

#jwt token configuration
token:
  secret: secret
  expiredSeconds: 1800

#loggin configuration
logging:
  config: classpath:shserc-log.xml

#cache configuration
cache:
  maxKeys: 1000000
  expireSeconds: 3600
  type: memoryCache

#  db:
#    type: mysql
#    name: shserc
#    host: 127.0.0.1
#    port: 3306
#    expire: ${cache.expireSeconds}
