.site{ 
    margin: 0px; 
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    color: #444;
    font-size: 12px;
}
.site_container{
    width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

/*-------------------------.block panel------------------------*/

.block_panel{
    border: 1px solid #bfbfbf;
    padding: 20px;
    background-color: #fff;
    margin-top: 30px;
}

.block_panel.blue_edge{
    border-top:#7ab4ce 3px solid;
} 

.panel_title{text-align: left;}

/*-------------------------.carousel------------------------*/
.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

/*-------------------------advance search------------------------*/

.search{   font-size: 12px;}

.search div.search {padding: 30px 0;}

.search form {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.search input {
    width: 88%;
    height: 38px;
    padding-left: 13px;
}

.search button {
    height: 42px;
    width: 42px;
    top:10px;
    right:2px;
    cursor: pointer;
    position: absolute;
}

/* .bar1 {background: #e4eae9;} */
.search .bar1 input {
    border: 1px solid #7BA7AB;
    border-radius: 5px;
    background: #F9F0DA;
    color: #9E9C9C;
}
.search .bar1 button {
    top: 0;
    right: 0;
    background-image: linear-gradient(135deg, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);
    border-radius: 0 5px 5px 0;
}
.search .bar1 button:before {
    font-size: 16px;
    color: #F9F0DA;
}

.search input, button {
    border: none;
    outline: none;
}