.site{ 
    margin: 0px; 
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    color: #444;
    font-size: 12px;
    width: 1600px;
    margin-left: auto;
    margin-right: auto;
}
.site_container{
     width: 80%; 
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}
.site_top img{
    width:100%;
}
.site_footer{
    background-color: #02567b;
    color: #fff;
    padding: 30px 0;
    text-align: center;
}

.site_footer p{
    margin: 0px;
    font-size: 12px;
    line-height: 24px;
}


.bk_gray {
    background-color: #f4f4f4;
    padding-bottom: 56px;
  }


/*-------------------------.block panel------------------------*/

.block_panel{
    border: 1px solid #bfbfbf;
    padding: 20px;
    background-color: #fff;
    margin-top: 30px;
}

.block_panel.blue_edge{
    border-top:#7ab4ce 3px solid;
} 


.block_panel .panel_title{
    font-size: 18px;
    color: #f39800;
    padding-bottom: 40px;
    border-bottom: 1px solid #a0a0a0;
    height: 20px;
    text-align: left;
    margin-bottom: 20px;
}

/*-------------------------.carousel------------------------*/
.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
  }
  
  .el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
  }
  
  .el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
  }

/*-------------------------advance search------------------------*/

.search{   font-size: 12px;}

.search div.search {padding: 30px 0;}

.search form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.search input {
    width: 88%;
    height: 38px;
    padding-left: 13px;
}

.search button {
    height: 42px;
    width: 42px;
     top:10px;
    right:20px; 
    cursor: pointer;
    position: absolute;
}

/* .bar1 {background: #e4eae9;} */
.search .bar1 input {
    border: 1px solid #7BA7AB;
    border-radius: 5px;
    background: #F9F0DA;
    color: #9E9C9C;
}
.search .bar1 button {
    top: 0;
    background-image: linear-gradient(135deg, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);
    border-radius: 0 5px 5px 0;
}
.search .bar1 button:before {
    font-size: 16px;
    color: #F9F0DA;
}

.search input, button {
    border: none;
    outline: none;
}


/*-------------------------resource small square------------------------*/

.res_square {
    padding: 0;
    border: none;
    margin: 0 13px;
    overflow: hidden;
    clear: both;
    position: relative;
    display: inline-block;
    width: 184px;
  }

  .res_square img.cover {
    width: 184px;
    height: 115px;
  }

  .res_square p {
    margin: 10px 0;
    color: #0082cc;
    text-align: left;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: both;
  }

  .res_square span {
    color: #666;
    font-size: 12px / 20px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: both;
    display: block;
    text-align: left;
  }
  