.site {
    margin: 0px;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
    color: #444;
    font-size: 12px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.site a {
    text-decoration: none;
}

.site button,
.site span {
    font-family: "Helvetica Neue", Helvetica, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif;
}

.site_container {
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}

.site_top img {
    width: 100%;
}

.site_footer {
    background-color: #02567b;
    color: #fff;
    padding: 30px 0;
    text-align: center;
    height: 100px;
}

.site_footer p {
    margin: 0px;
    font-size: 12px;
    line-height: 24px;
}

.bk_gray {
    background-color: #f4f4f4;
    /* padding-bottom: 56px; */
}


/*-------------------------layout header----------------------*/

.appHeader {
    background-clip: content-box;
}

.appHeader {
    -webkit-box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
    box-shadow: 0 1px 3px rgba(18, 18, 18, 0.1);
}

.appHeader {
    position: relative;
    z-index: 100;
    min-width: 800px;
    /* overflow: hidden; */
    background: #fff;
    /* margin:0 auto; */
    height: 55px;
}

.appHeader-inner {
    min-width: 800px;
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    background: #fff;
}

.appHeader ul,
menu,
dir {
    list-style-type: none;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 40px;
    margin-top: 20px;
}

.appHeader ul li {
    display: inline;
    margin-right: 20px;
}

.appHeader .el-button {
    border: 0px;
}

.appHeader .img_header {
    width: 38px;
    height: 38px;
    border-radius: 50%;
}

.appHeader .search .searchBox {
    position: relative;
    width: 250px;
}

.appHeader .search .searchButton {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 20%;
}


/*-------------------------.block panel------------------------*/

.block_panel {
    border: 1px solid #bfbfbf;
    padding: 20px;
    background-color: #fff;
    margin-top: 30px;
}

.block_panel.blue_edge {
    border-top: #7ab4ce 3px solid;
}

.block_panel .panel_title {
    font-size: 18px;
    /* color: #f39800; */
    color: #0076f3;
    padding-bottom: 40px;
    border-bottom: 1px solid #a0a0a0;
    height: 20px;
    text-align: left;
    margin-bottom: 20px;
}


/*-------------------------.carousel------------------------*/

.el-carousel__item h3 {
    color: #475669;
    font-size: 18px;
    opacity: 0.75;
    line-height: 300px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}


/*-------------------------advance search------------------------*/

.search {
    font-size: 12px;
}

.search div.search {
    padding: 30px 0;
}

.search form {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.search input {
    width: 88%;
    height: 38px;
    padding-left: 13px;
}

.search button {
    height: 42px;
    width: 100px;
    top: 10px;
    right: 60px;
    cursor: pointer;
    position: absolute;
}


/* .bar1 {background: #e4eae9;} */

.search .bar1 input {
    border: 1px solid #7BA7AB;
    border-radius: 5px;
    /* background: #F9F0DA; */
    color: #9E9C9C;
    font-size: 15px;
}

.search .bar1 button {
    top: 0;
    background-image: linear-gradient(135deg, rgb(252, 207, 49) 10%, rgb(245, 85, 85) 100%);
    border-radius: 0 5px 5px 0;
}

.search .bar1 button:before {
    font-size: 16px;
    color: #F9F0DA;
}

.search input,
button {
    border: none;
    outline: none;
}

.adv_hit {
    font-size: 14px;
}

.adv_hit dl {
    display: block;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.adv_hit dt {
    margin: auto 50px;
    margin-right: 0px;
    font-weight: bold;
    font-size: 18px;
    /* color: #f39800; */
    color: #0076f3;
    float: left;
    line-height: 22px;
}

.adv_hit ul {
    list-style: none;
    padding-left: 5px;
    padding-left: 110px;
    text-align: left;
    margin-bottom: 30px;
}

.adv_hit ul li {
    display: inline-block;
    /* background-color: firebrick; */
    /* margin-left: 10px; */
    vertical-align: top;
}


/*-------------------------resource small square------------------------*/

.res_square {
    padding: 0;
    border: none;
    margin: 0 13px;
    overflow: hidden;
    clear: both;
    position: relative;
    display: inline-block;
    width: 184px;
}

.res_square img.cover {
    width: 184px;
    height: 115px;
}

.res_square p {
    margin: 10px 0;
    color: #0082cc;
    text-align: left;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: both;
}

.res_square span {
    color: #666;
    font-size: 12px / 20px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    clear: both;
    display: block;
    text-align: left;
}


/*-------------------------resource info------------------------*/

.res_details div.title {
    font-size: 20px;
    line-height: 60px;
    margin: 0px;
    text-align: left;
}

.res_details .filetype div {
    width: 48px;
    height: 48px;
    display: inline-block;
    background-size: 48px;
    vertical-align: middle;
    margin-right: 10px;
}

.res_details .opbar {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.res_details .opbar .stars {
    display: flex;
    justify-content: space-between;
}

.res_details .eval_star {
    cursor: pointer;
    float: left;
}

.res_details .eval_star b {
    font-size: 18px;
}

.res_details .buttons {
    float: right;
}

.res_details .btn-op {
    border-radius: 0;
    padding-left: 20px;
    padding-right: 20px;
}

.res_details .info {
    font-size: 14px;
    text-align: left;
}

.res_details .info .board {
    border-top: 1px dotted #bfbfbf;
    padding: 20px 10px;
}

.res_details .info .board.first {
    /* background: url('') scroll no-repeat 10px 32px #f6f6f6; */
    /* padding-left: 155px; */
}

.res_details .info p {
    margin: 0px;
    line-height: 35px;
    color: #666;
}

.res_details .info span {
    width: 50%;
    display: inline-block;
}

.res_details .info h3 {
    font-size: 18px;
    font-weight: bold;
    color: #383838;
    margin: 20px 0 0 0;
    text-align: left;
}


/*-------------------------comment list-------------------------*/

.res_details .comment h3 {
    font-size: 18px;
    font-weight: bold;
    color: #383838;
    margin: 20px 0 20px 0;
    text-align: left;
}

.res_details .comment textarea {
    resize: none;
    border: 1px solid #c2c2c2;
    width: 100%;
    height: 100px;
    overflow: auto;
}

.res_details .comment .comment_num {
    position: relative;
    float: right;
    color: #999;
    margin-top: -22px;
    margin-right: 5px;
}

.res_details .comment .comment_input {
    margin-bottom: 30px;
}

.res_details .comment .comment_count {
    font-size: 16px;
    margin-bottom: 20px;
}

.res_details .comment_list {
    padding: 15px 5px;
    overflow: hidden;
}

.res_details .comment_list .media {
    /* border-top: 1px dotted #bfbfbf; */
    padding: 20px 0;
}

.res_details .comment_list img.media-object {
    width: 80px;
    height: 80px;
}

.res_details .comment_list h4 {
    font-size: 14px;
    padding-bottom: 6px;
}

.res_details .comment_list .media-body {
    font-size: 16px;
    padding-left: 10px;
}


/*-------------------------compact_list-------------------------*/

.compact_list {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-size: 14px;
}

.compact_list li {
    margin-top: 7px;
    overflow: hidden;
    clear: left;
    text-overflow: ellipsis;
    text-align: left;
    white-space: nowrap;
}

.compact_list a {
    color: #666;
    padding-left: 4px;
}

.compact_list a:hover {
    color: #0077dd;
}

.compact_list span {
    display: inline-block;
    width: 17px;
    text-align: center;
    margin-right: 5px;
}

.compact_list span:after {
    content: '„ÄÅ'
}

.compact_list span.square {
    background-color: #f39800;
    color: #fff;
}

.compact_list span.square:after {
    content: none;
}


/*-------------------------list_square-------------------------*/

.list_square img.cover {
    width: 150px;
    height: 94px;
    vertical-align: top;
}

.list_square .details {
    /* width: 433px; */
    padding-left: 20px;
    position: relative;
    display: inline-block;
    text-align: left;
}

.list_square .details.wide {
    width: 733px;
}

.list_square .details.downwide {
    width: 890px;
}

.list_square .restitle {
    font-size: 16px;
    color: #0076f3;
}

.list_square .info {
    color: #666;
    margin-top: 6px;
}

.list_square .info span {
    /* color: #f39800; */
    margin-right: 8px;
}

.list_square .snippet {
    color: #666;
    font-size: 10px;
    margin-top: 6px;
}


/*-------------------------page_login-------------------------*/

.page-login {
    border: solid 1px #dbdbdb;
    background-color: #f1f1f1;
    width: 60%;
    margin: 30px auto;
    padding: 30px 65px;
}

.page-login .title {
    font-size: 18px;
    color: #0076f3;
}

.page-login label.rememberme {
    display: block;
    text-align: left;
    margin: 10px 0;
}

.page-login div.links {
    text-align: right;
    padding-top: 10px;
    font-size: 14px;
}

.page-login span.field-validation-error {
    text-align: left;
    float: left;
}

.page-login .loginArea .error {
    text-align: left;
    color: red;
}

.page-login .el-form-item__label {
    font-size: 12px;
    color: #0076f3;
}

.page-login .el-input__inner {
    background-color: white;
}


/*-------------------------simple ranking list-------------------------*/

.ranking_square {
    /* border-bottom: 1px dotted #bfbfbf; */
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.ranking_square img.cover {
    width: 150px;
    height: 94px;
    vertical-align: top;
}

.ranking_square .details {
    width: 433px;
    padding-left: 20px;
    position: relative;
    display: inline-block;
}

.ranking_square .details.wide {
    width: 733px;
}

.ranking_square .details.downwide {
    width: 890px;
}

.ranking_square .restitle {
    font-size: 16px;
    color: #338ecf;
}

.ranking_square .info {
    color: #666;
    margin-top: 6px;
}

.ranking_square .info span {
    color: #f39800;
    margin-right: 8px;
}

.ranking_square .snippet {
    color: #666;
    font-size: 10px;
    margin-top: 6px;
}